/* HTML elementy
// ==================================== */

* {
    @include prefix((box-sizing: border-box) );
    @include prefix_inner((image-rendering: crisp-edges) );
}
html, body{
    height: 100%;
    font-size: $base-font-size;
}
html{
    @include prefix( (text-size-adjust: 100%), 'webkit ms' );
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    line-height: $base-line-height / $base-font-size;
    font-family: 'Philosopher', sans-serif;
    color: $color-6;
}

ul, ol{
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    background-repeat: no-repeat;
    background-position: 0 center;
}
p{
    margin: 0;
    padding: 0;
    img{
        vertical-align: middle;
    }
}
#{headings(1,5)} {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}
#{headings(1,5, '* +')} {
    margin-top: 1em;
}

h1{
    @include font-size(40px);
}
h2{
    @include font-size(35px);
}
h3{
    @include font-size(30px);
}
h4{
    @include font-size(25px);
}
h5{
    @include font-size(18px);
}

*:focus{
    outline: none;
}
a{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
    &:active {

    }
    &:link {

    }
    &:visited {
        text-decoration: line-through;
    }
    img{
        border: 0px;
    }
}
img{
    vertical-align: middle;
}
label{
    cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 100%;
        th, td{
            text-align: left;
        }
}