/* HTML elementy
// ==================================== */
* {
    @include prefix((box-sizing: border-box) );
    @include prefix_inner((image-rendering: crisp-edges) );
}
html, body{
    height: 100%;
    font-size:10px;
}
html{
    @include prefix( (text-size-adjust: 100%), webkit ms );
}
body{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    @include font-size(15px);
}

ul, ol{
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    background-repeat: no-repeat;
    background-position: 0 center;
}
p{
    margin: 0;
    padding: 0;
    img{
        vertical-align: middle;
    }
}
#{headings(1,5)} {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}
#{headings(1,5, '* +')} {
    margin-top: 1em;
}
*:focus{
    outline: none;
}
a{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
    &:active {

    }
    &:link {

    }
    &:visited {
        text-decoration: line-through;
    }
    img{
        border: 0px;
    }
}
label{
    cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 100%;
        th, td{
            text-align: left;
        }
}