/* konfiguracni promenne
// ==================================== */
$site-width: 1060px;
$debug-mode: false;
$base-font-size: 15px;
$base-line-height: 20px;
$base-offset: 20px;
$font-georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$font-verdana: Verdana, Geneva, sans-serif;
$font-arial: Arial, Helvetica, sans-serif;
$font-times: "Times New Roman", Times, serif;
$font-helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$font-monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$button-border-radius: 4px;
$button-padding: 10px;