.footer {
    background-color: $color-2;
    color: $color-4;
    padding: 1em 0;

    .inner {
        @extend %inner_wrap;
    }

    .heading{
        color: $color-4;
        text-align: center;
        border-bottom: 1px solid $color-4;
        @include margin( 0, 0, 16px );
        @include padding( 10px, 0);
        max-width: 100%;
    }

    .article-content{
        margin: 0;
    }

    .xform, .google_maps{
        @extend %spacetobottom;
    }
}
