@mixin size( $width, $height: $width, $display: block ) {
    $remWidth: calculateRem($width);
    $remHeight: calculateRem($height);
    @if( $display != null ) {
        display: $display;
    }
    width: $width;
    width: $remWidth;
    height: $height;
    height: $remHeight;
}

@mixin width($width) {
    $remWidth: calculateRem($width);
    width: $width;
    width: $remWidth;
}

@mixin height($height) {
    $remHeight: calculateRem($height);
    height: $height;
    height: $remHeight;
}